.carouser{
    width: 1440px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 48px;
    border: 1px solid cyan;

}
.carouserItem{
    display: block;
    width: 44px;
    height: 18px;
    background-color: black;
}
.quizFormsContainer{
    width: 1440px;
    height: 980px;
    border: 1px solid black;
}
.quizForm{
    width: 100%;
    border: 1px solid darkred;
}
.quizFormsContainer{
    display: flex;
   
}
.quizFormsWrapper{
    width: 1440px;
    overflow: hidden;
}