.root{
    background-color: #ebc9bd;
    height: 85vh;
}
.cardsContainer{       
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center
}
.createQuiz{
    border: 1px solid #1c1394;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #a8a8a8 ;
}

/* Исправь потом этот ебаный костыль клоун */
.createQuiz:after{
    margin-left: 50px;    
    content: "+";
    font-size: 300px;
    line-height: 300px;
    text-align: center;
}
.quizCard{
    width: 420px;
    height: 310px;
    text-align: center;
    background-color: #a8a8a8;
}
.quizHeadImg{
    display: block;
    margin: auto;
    width: 330px;
    height: 210px;
    object-fit: cover;
}