.input {
    display: none;
  }
  
  .startDrop,
  .dropArea {
    width: 430px;
    height: 270px;
    border: 2px dashed #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .imagePreview {
    position: absolute;        
    width: 430px;
    height: 270px;
    display: flex;
    justify-content: center;
  }
  
  .image {
    width: 430px;
    height: 270px;
    object-fit: cover;
  }
  .inputWrapper{
    position: relative;

  }
  .inputWrapper{
    width: 430px;
    height: 270px;
  }