.popup{
    display: none;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: aqua;
    
    position: absolute;
}
.popup.active{
    display: block;
  
}
.popupContent{
    
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: #617A9D;
}