.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.navItem {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    user-select: none;
    color: var(--header-text);
}

.navItem:hover {
    text-decoration: underline;
    transform: scale(1.1);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--overlay-background); */
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    height: 100vh;
}

@media (max-width: 768px) {
    .closeButton {
        font-size: 50px;
        font-weight: 500; 
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: var(--modal-text);
    }

    .navContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 80vh;
        flex-direction: column;
        gap: 15px;
        background-color: var(--nav-background-mobile);
        z-index: 100;
        /* display: none; */
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%); 
    }

    .navContainer.active {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 100px 0 0 35px;
        transform: translateX(0); 
    }
}
