.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navItem {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    user-select: none;
}

.navItem:hover {
    text-decoration: underline;
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .navContainer {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navContainer.active {
        display: flex;
    }
}
