.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: var(--header-text, #ecf0f1);
    padding: 0 20px;
}
.notVisible{
    visibility: hidden;
    display: none;
}
@media (max-width: 768px) {
    .header {
        display: flex;
    }
    .logo{
        order: 2;
    }
    .burgerMenu{
        order: 1;       
    }
   
}
