@font-face {
    font-family: 'Fontatica';
    src: url('../fonts/Fontatica/Fontatica4F.woff2') format('woff2'), 
         url('../fonts/Fontatica/Fontatica4F.woff') format('woff'), 
         url('../fonts/Fontatica/Fontatica4F.ttf') format('truetype'),
         url('../fonts/Fontatica/Fontatica4F.eot');        
         
  }
:root{
    --header-background: '#2c3e50';
    --header-text: '#ecf0f1';
    --main-background: '#ecf0f1';
    --main-text: '#2c3e50';
    --card-background: '#ffffff';
    --card-border: '#dcdcdc';
    --card-text: '#2c3e50';
    --card-header: '#3498db';
}
/* TODO вывести 5 вариантов цветовых схем по переменным и добавить возможность выбрать цветовую тему */
body{
    background-color: var(--header-background, #2c3e50);
    
    margin: auto;
}

.mainContentBackground{
    padding: 10px;
    background-color: var(--main-background, #227388);
    min-height: 81vh;
}
