@font-face {
    font-family: 'Fontatica';
    src: url('../fonts/Fontatica/Fontatica4F.woff2') format('woff2'), 
         url('../fonts/Fontatica/Fontatica4F.woff') format('woff'), 
         url('../fonts/Fontatica/Fontatica4F.ttf') format('truetype'),
         url('../fonts/Fontatica/Fontatica4F.eot');        
         
  }


body{
    background-color: #ff7f50;
    
    margin: auto;
}


