.carousel {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
}

.carouselItem {
    width: 45px;
    height: 20px;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carouselItem.green {
    background: green;
}

.carouselItem.red {
    background: red;
}

.activeCarousel {
    
    position: absolute;
    width: 55px;
    height: 30px;
    background: var(--card-header);
    transition: transform 0.35s ease;
    opacity: .4;
}

@media (max-width: 768px) {
    .carouselItem {
        width: 30px;
        height: 15px;
    }

    .activeCarousel {
        width: 40px;
        height: 25px;
    }
}
