
.logoContainer{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 28px;
    font-family: "Fontatica";
    width: 150px;
    height: 60px;
    user-select: none;
    
    
    
}

.logoIcon{

    

    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
   
}